@use '@carbon/react/scss/config' with (
  $css--default-type: true,
  $css--reset: true,
  $use-flexbox-grid: true
);

@use '@carbon/react';
@use '@carbon/react/scss/reset';
@use '@carbon/react/scss/grid';
@use '@carbon/react/scss/components';
